<div id="datosUsuario"><span id="nombreUsuario">NombreUsuario</span><br><span id="saldoUsuario">$50</span><br><button id="botonVolver">Volver</button></div>
<h1>Jackpot</h1>
<div id="botonera">
    <button class="botonSumarApuesta">1</button>
    <button class="botonSumarApuesta">2</button>
    <button class="botonSumarApuesta">5</button>
    <button class="botonSumarApuesta">10</button>
    <button class="botonSumarApuesta">20</button>
    <button class="botonSumarApuesta">50</button>
    <button class="botonSumarApuesta">100</button>
    <button id="botonCancelar">Cancelar</button>
</div>